<div class="a-container">
  <h1>Character Finder</h1>
  <p id="about-website">
    Character Finder is a website where one can search for their favorite marvel characters.
    It is implemented using axios, handlebars, express js, html and css.<br>
    Enjoy your journey.
  </p>
  <form action="/search" id="search-character-form">
    <label for="searchTerm">Search Character</label><br>
    <input name="searchTerm" id="searchTerm" placeholder="Character to search">
    <button type="submit">search</button>
  </form>
</div>